* {
    font-family: consolas;
    /* font-size: 18px; */
  }
  html {
    height: 100%;
}
  .container {
    text-align: center;
    height: 100%;
    align-content: center;
  }
  
 
  
  a {
    text-decoration: none;
    color: darkblue;
  }
 
  
  body {
    margin: 0;
    font-size: 1.2em;
    height: 100%;
  }
  
  caption {
    font-size: 1.2em;
    font-style: italic;
  }
  
  div#outputDiv {
    text-align: left;
  }
  h1 {
    font-size: 1.3em;
  }
  
   
  .links {
      display: inline-block;
      text-align: left;
  }
  .back {
    margin: 2em;
  }
  .links>a {
    display: block;
    margin: 0.5em;
  }